atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
branca==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.10
folium==0.12.1.post1
fuzzywuzzy==0.18.0
gender-detector==0.1.0
greenlet==1.1.2
haversine==2.5.1
idna==3.3
Jinja2==3.0.3
Levenshtein==0.17.0
MarkupSafe==2.0.1
numpy==1.22.1
pandas==1.4.0
pathlib-mate==1.0.2
prettytable==3.0.0
pycodestyle==2.8.0
python-dateutil==2.8.2
pytz==2021.3
rapidfuzz==1.9.1
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.31
sqlalchemy-mate==1.4.28.3
toml==0.10.2
urllib3==1.26.8
uszipcode==1.0.1
wcwidth==0.2.5
